.navbar{
    display:flex;
    justify-content:space-between;
    justify-content:space-evenly;
    justify-content:space-around;
    background-color:rgb(188, 83, 117);
    color:black;
    height:50px;
    font-size:40px;
}
.navbar li{
    list-style:none;
}
.navbar li a{
    text-decoration:none;
    color:azure;
}
